@import 'Header.css';
@import 'Profile.css';
@import 'Sidebar.css';
@import 'FeaturedMovie.css';
@import 'Movies.css';
@import 'MovieItem.css';
@import 'MovieCard.css';
@import 'Sortbar.css';
@import 'LoadMore.css';

.window-margin {
  width: 1200px;

  padding: 60px;
  margin: auto;
}
.window {
  background-color: #ffffff;
  min-height: 100vh;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
